@using ClinicTask.Areas.Admin.ViewModels.Doctors
@model BathAssignVM
<h2>Assign Doctors to Department</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="DepartmentId"/>
        <select asp-items="Model.AllDoctors" class="form-select" multiple>
            <option selected>Chose Departments</option>
          
        </select>
    </div>

    <button type="submit" class="btn btn-info">Assign</button>
</form>
 